<nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/research/' | relative_url }}">Research</a>
    <a href="{{ '/publications/' | relative_url }}">Publications</a>
    <a href="{{ '/contact/' | relative_url }}">Contact</a>

    <li class="dropdown">
      <a href="/research.html" class="dropbtn">Research ▾</a>
      <div class="dropdown-content">
        <a href="/research.html#experience">Research Experience</a>
        <a href="/research.html#social">Academic & Social Events</a>
      </div>
    </li>
</nav>